{extend name="public/base" /}
{block name="title"}
{$catename|default="残月公子"}--{$webInfo.webname}
{/block}

{block name="content"}
<div class="row">
    <div class="col-sm-12 col-md-8">
        <div class="page-header h3">{$catename|default="文章"}列表</div>
        <div class="article-list">
            {volist name="articles" id="vo"}
            <div class="article-list-item">
                <a href="{:url('index/article/info', ['id' => $vo.id])}" class="title">{$vo.title}</a>
                <div class="info">
                    <span class="author">作者：{$vo.author}</span>-
                    <span class="time">发布时间：{$vo.create_time}</span>-
                    <span class="read">阅读：{$vo.click}</span>-
                    <span class="comment">评论：{$vo.comm_num}</span>
                </div>
            </div>
            {/volist}
        </div>
        <nav class="">
            {$articles->render()|raw}
        </nav>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="page-header h3">推荐文章</div>
        <div class="topic-list">
            {volist name="topArticles" id="vo"}
            <div class="topic-list-item">
                <a href="{:url('index/article/info', ['id' => $vo.id])}" class="title">{$vo.title}</a>
            </div>
            {/volist}
        </div>
    </div>
</div>
{/block}