{include file="public/_head" /}
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">

        <!-- Page Sidebar -->
        {include file="public/_left" /}
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;文章管理
                    </li>
                    <li>文章添加</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->
            <!-- Page Body -->
            <div class="page-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget radius-bordered">
                            <div class="widget-header bordered-bottom bordered-themeprimary">
                                <span class="widget-caption">文章添加</span>
                            </div>
                            <div class="widget-body">
                                <form action="" class="form-horizontal">
                                    <input type="hidden" name="id" value="{$articleInfo.id}">
                                    <div class="form-group">
                                        <label for="title" class="control-label col-sm-2">文章标题</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="title" name="title" placeholder="文章标题" value="{$articleInfo.title}" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="tags" class="col-sm-2 control-label no-padding-right">标签</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="tags" name="tags" placeholder="标签" value="{$articleInfo.tags}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox col-sm-offset-2 col-sm-6">
                                            <label>
                                                <input type="checkbox" name="is_top" {if $articleInfo.is_top == 1}checked{/if} value="1">
                                                <span class="text">是否推荐</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="cateid" class="control-label col-sm-2">所属导航</label>
                                        <div class="col-sm-6">
                                            <select id="cateid" name="cateid" class="form-control">
                                                <option value="">请选择</option>
                                                {volist name="cates" id="vo"}
                                                <option value="{$vo.id}" {if $articleInfo.cate_id == $vo.id}selected{/if}>{$vo.catename}</option>
                                                {/volist}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="desc" class="col-sm-2 control-label no-padding-right">文章概要</label>
                                        <div class="col-sm-6">
                                            <textarea name="desc" id="desc" cols="30" rows="5" class="form-control">{$articleInfo.desc}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="content" class="control-label col-sm-2">文章内容</label>
                                        <div class="col-sm-6">
                                            <textarea name="content" id="content" cols="30" rows="10" class="">{$articleInfo.content}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-6">
                                            <button class="btn btn-primary" id="articleEdit">修改</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->

    </div>
    <!-- /Page Container -->
    <!-- Main Container -->

</div>

{include file="public/_js" /}
<script src="/static/lib/ueditor/ueditor.config.js"></script>
<script src="/static/lib/ueditor/ueditor.all.js"></script>
<script>
    $(function () {
        UE.getEditor('content');

        $('#articleEdit').click(function () {
            $.ajax({
                url:"{:url('admin/article/edit')}",
                type:'post',
                data:$('form').serialize(),
                dataType:'json',
                success:function (data) {
                    if (data.code == 1) {
                        layer.msg(data.msg, {
                            icon:6,
                            time:2000
                        }, function () {
                            location.href = data.url;
                        });
                    }else {
                        layer.open({
                            title:'文章编辑失败',
                            content:data.msg,
                            icon:5,
                            anim:6
                        });
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
<!--  /Body -->
</html>
